matplotlib>=3.7.4
seaborn>=0.13.2
plotly>=5.22.0

ibis-framework[polars]>=9.1.0
polars>=0.20.31
ydata-profiling>=4.8.3
# lightgbm>=4.4.0 CUDA用を個別でインストールする
pycaret[full]>=3.3.2
catboost>=1.2.5
xgboost>=2.1.0


ruff>=0.4.10
jupyterlab>=4.1.6
ipywidgets>=8.1.3