# visualizers
matplotlib
seaborn
plotly==5.14.1
tensorboard

# pytorch
torch
torchvision
torchaudio
torchinfo
pytorch-lightning
  

# jupyterlab
jupyterlab
ipywidgets

# utilities
pandas
numpy
polars

# formatter
black
flake8
isort